.THIS .slds-form-element__label {
        display: none !important;
}
.THIS .slds-select{
	line-height: 1.875rem !important;
    min-height: calc(2.125rem + 2px) !important;
    width : 100% !important;
	}

.slds-modal__close.THIS{
    right: -1.5rem !important;
}